@use 'abstract' as *;
@use 'theme/colors' as *;
@use 'base' as *;

.stats-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $spacing-4;

  @include respond-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-up(lg) {
    grid-template-columns: repeat(auto-fit, minmax(px-to-rem(220), 1fr));
  }

  &__card {
    min-width: 0;
  }
}
