@use 'abstract' as *;
.stats-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: $spacing-3;
  margin-top: $spacing-4;

  &__card {
    width: calc(100% - 12px);
  }

  @include respond-up('sm') {
    &__card {
      width: calc(50% - 12px);
    }
  }

  @include respond-up('lg') {
    &__card {
      width: calc(25% - 12px);
    }
  }
}
