@use 'abstract' as *;

:host {
  display: block;
  height: 100%;
}

.sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__menu {
    flex: 1;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $border-color;
    gap: $spacing-6;
  }
}
mat-sidenav {
  display: block;
  width: 250px;

  padding-top: 12px;
  padding-bottom: 4px;

  border-right: 1px solid $border-color;

  mat-icon {
    color: $icon-color;
  }
}

.nav-list {
  border-bottom: 1px solid $border-color;
}

mat-expansion-panel-header {
  padding: 0;
  padding-right: 16px;
}
