<mat-toolbar class="header">
  <a routerLink="/dashboard" class="header__logo" aria-label="brand image">
    <img src="assets/images/logo.svg" alt="logo image" />
  </a>
  <button
    type="button"
    mat-icon-button
    (click)="onMenuClick()"
    class="header__toggle-button"
    aria-label="Open profile menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header__spacer"></span>
  <ng-container *ngIf="currentUser$ | async as currentUser">
    <button
      mat-button
      [matMenuTriggerFor]="profileMenu"
      class="header__profile-button"
      [disableRipple]="true"
    >
      <img
        [src]="currentUser.avatar ? currentUser.avatar : defaultImage"
        class="header__profile-image"
        alt=""
      />
    </button>
  </ng-container>
</mat-toolbar>

<mat-menu #profileMenu="matMenu" class="profile">
  <div class="profile__header" *ngIf="currentUser$ | async as currentUser">
    <div class="profile__icon">
      <img
        [src]="currentUser.avatar ? currentUser.avatar : defaultImage"
        class="profile__avatar"
        alt=""
      />
    </div>

    <div>
      <div class="profile__name">{{ currentUser.name }}</div>
      <div class="profile__email">{{ currentUser.email }}</div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <button type="button" mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>setting</span>
  </button>

  <button type="button" mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
