@use 'abstract' as *;
@use 'base' as *;

.header {
  width: 100%;
  height: px-to-rem(64);
  background-color: transparent;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;

  &__logo {
    display: none;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__profile-image {
    width: px-to-rem(48);
    height: px-to-rem(48);
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__profile-button {
    height: 100%;
    display: flex;
    position: relative;
  }

  @include respond-up('md') {
    &__logo {
      display: block;
    }

    &__toggle-button {
      display: none;
    }
  }
}

.profile {
  &__header {
    @include flex(start, row);
    padding: $spacing-4;
    min-width: px-to-rem(250);
  }

  &__icon {
    @include flex;
  }

  &__avatar {
    width: px-to-rem(48);
    height: px-to-rem(48);
    margin-right: $spacing-3;
    border: 3px solid $primary-color;
    border-radius: 50%;
  }

  &__name,
  &__email {
    @include truncate;
  }

  &__name {
    font-weight: $fw-semibold;
  }

  &__details {
    min-width: 0;
    flex: 1;
  }

  &__email {
    font-size: $fs-xs;
    color: $heading-color;
  }
}
