@use 'abstract' as *;

.card {
  padding: px-to-rem(10);
  border-radius: 12px;

  &__with-shadow {
    box-shadow: $card-box-shadow;
  }

  &__with-border {
    border: 1px solid $border-color;
  }
}
