@use './functions' as function;

// Spacing tokens
$spacing-1: function.px-to-rem(4);
$spacing-2: function.px-to-rem(8);
$spacing-3: function.px-to-rem(12);
$spacing-4: function.px-to-rem(16);
$spacing-5: function.px-to-rem(20);
$spacing-6: function.px-to-rem(24);
$spacing-8: function.px-to-rem(32);
$spacing-10: function.px-to-rem(40);
$spacing-16: function.px-to-rem(64);
