@use '../theme/colors' as *;
// Breakpoints for different screen sizes
$breakpoints: (
  'sm': 320px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1440px,
);

// Card shadow
$card-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

$border-color: $light-border-color;
//icon color
$icon-color: $dark-black;

$primary-color: $primary-700;
