@use '../theme/colors' as *;
// Breakpoints for different screen sizes
$breakpoints: (
  'sm': 320px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1440px,
);

$card-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$border-color: $light-black-color;
$icon-color: $dark-black-color;
$primary-color: $primary-700;

$paragraph-color: $light-black-color;
$heading-color: $dark-black-color;

$mute-color: $light-white-color;
