@use '../theme/colors' as *;

// Breakpoints
$breakpoints: (
  'sm': 320px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1440px,
);

// Colors
$primary-color: $primary-700;
$heading-color: $dark-black-color;
$paragraph-color: $solid-black-color;
$icon-color: $dark-black-color;
$border-color: $light-black-color;
$mute-color: $light-white-color;

// Spacing
$card-padding: 10px;
$card-border-radius: 16px;

// Shadows
$card-box-shadow:
  0 1px 10px rgba(0, 0, 0, 0.12),
  0 4px 5px rgba(0, 0, 0, 0.14),
  0 2px 4px -1px rgba(0, 0, 0, 0.2);
