<div class="list-card">
  <h2 class="list-card__heading">
    {{ title }}
  </h2>
  <div class="list-card__item" *ngFor="let item of items; let last = last">
    <div class="list-card__left">
      <img *ngIf="item.image" [src]="item.image" [alt]="item.title + 'image'" />

        <div class="list-card__content">
          <h3>
            {{ item.title }}
          </h3>

          <p *ngIf="item.subtitle">
            {{ item.subtitle }}
          </p>
        </div>
      </div>

      <span class="list-card__value">
        {{ item.value }}
      </span>
    </div>
  </div>

  <ng-template #noItems> No Item Found </ng-template>
</div>
