@use 'abstract' as *;
.list-card {
  border-radius: 12px;
  border: 1px solid $border-color;

  padding: 24px;

  box-shadow:
    0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2);

  &__heading {
    padding: $spacing-4;
    margin: 0;
  }

  &__item {
    @include flex(space-between, row);

    padding: $spacing-4;

    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: $spacing-4;

    img {
      width: px-to-rem(40);
      height: px-to-rem(40);
      border-radius: 50%;
    }
  }
  &__content {
    h3 {
      margin: 0;
    }
    p {
      margin-top: 4px;
      color: gray;
    }
  }

  &__value {
    font-weight: 600;
  }

  @include respond-up('md') {
  }
}
