<div class="list-card">
  <div class="list-card__heading">
    {{ title }}
  </div>
  <div class="list-card__item" *ngFor="let item of items; let last = last">
    <div class="list-card__left">
      <img *ngIf="item.image" [src]="item.image" alt="avatar" />

      <div class="list-card-content">
        <h3>
          {{ item.title }}
        </h3>

        <p *ngIf="item.subtitle">
          {{ item.subtitle }}
        </p>
      </div>
    </div>

    <span class="list-card__value">
      {{ item.value }}
    </span>
  </div>
</div>
