<div class="error">
  <div class="error_image-container">
    <!-- this is the decorator image - alt tag can be empty -->
    <img class="error__image" [src]="state.image" alt="" />
  </div>

  <div class="error__text-content">
    <h1 class="error__heading mat-headline-1">{{ state.title }}</h1>
    <p class="error__description">
      {{ state.description }}
    </p>

    <a
      routerLink="/"
      mat-flat-button
      color="primary"
      class="error__redirect-button"
      >Go Back Home</a
    >
  </div>
</div>
