<app-card [hasBorder]="true">
  <div class="card">
    <app-main-content-header
      [headingFontSize]="16"
      [title]="title"
      [description]="description"
    >
      <div class="buttons-group">
        <button mat-stroked-button color="primary">
          <mat-icon>bar_chart</mat-icon>
          Top 10 Ordered Items
        </button>
        <button mat-raised-button color="primary">
          <mat-icon>bubble_chart</mat-icon>
          Frequently Bought Together
        </button>
      </div>
    </app-main-content-header>
  </div>
</app-card>
