<table mat-table [dataSource]="tableDataSource">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
    <th mat-header-cell *matHeaderCellDef>
      {{ column.header }}
    </th>

    <td mat-cell *matCellDef="let row">
      <ng-container [ngSwitch]="column.type">
        <!-- TEXT -->

        <app-table-text-cell
          *ngSwitchCase="'text'"
          [value]="row[column.key]"
          [config]="column.textConfig"
        >
        </app-table-text-cell>

        <!-- CHIP -->

        <app-table-chip-cell
          *ngSwitchCase="'chip'"
          [value]="row[column.key]"
          [config]="column.chipConfig!"
        >
        </app-table-chip-cell>

        <!-- BUTTON -->

        <app-table-button-cell
          *ngSwitchCase="'button'"
          [row]="row"
          [config]="column.buttonConfig!"
          (buttonClick)="onButtonClick($event)"
        >
        </app-table-button-cell>

        <!-- DEFAULT -->

        <app-table-text-cell *ngSwitchDefault [value]="row[column.key]">
        </app-table-text-cell>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  *ngIf="enablePagination"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
>
</mat-paginator>
