<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>

  <input
    type="text"
    placeholder="Pick one"
    aria-label="Select restaurant"
    matInput
    [formControl]="form"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngIf="isSearching" disabled> Searching... </mat-option>
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="option.name"
      (onSelectionChange)="onSelectValueChange(option)"
    >
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
