<ng-container *ngFor="let button of config">
  <ng-container [ngSwitch]="button.type">
    <button
      *ngSwitchCase="'basic'"
      mat-button
      [color]="button.color"
      [disabled]="button.disabled"
      (click)="onClick(button)"
    >
      <mat-icon *ngIf="button.icon">{{ button.icon }}</mat-icon>
      {{ button.label }}
    </button>

    <button
      *ngSwitchCase="'flat'"
      mat-flat-button
      [color]="button.color"
      [disabled]="button.disabled"
      (click)="onClick(button)"
    >
      <mat-icon *ngIf="button.icon">{{ button.icon }}</mat-icon>
      {{ button.label }}
    </button>

    <button
      *ngSwitchCase="'stroked'"
      mat-stroked-button
      [color]="button.color"
      [disabled]="button.disabled"
      (click)="onClick(button)"
    >
      <mat-icon *ngIf="button.icon">{{ button.icon }}</mat-icon>
      {{ button.label }}
    </button>

    <button
      *ngSwitchCase="'raised'"
      mat-raised-button
      [color]="button.color"
      [disabled]="button.disabled"
      (click)="onClick(button)"
    >
      <mat-icon *ngIf="button.icon">{{ button.icon }}</mat-icon>
      {{ button.label }}
    </button>
  </ng-container>
</ng-container>
