<div class="footer">
  <app-card [hasShadow]="true" class="">
    <div class="footer__items">
      <div class="footer__copyright">
        <p>© 2021 Themesberg, LLC. All rights reserved.</p>
      </div>

      <div class="footer__social-links">
        <a href="#" class="footer__icon">
          <img src="assets/images/icons/facebook.svg" alt="facebook icon" />
        </a>

        <a href="#" class="footer__icon">
          <img src="assets/images/icons/twitter.svg" alt="twitter icon" />
        </a>
        <a href="#" class="footer__icon">
          <img src="assets/images/icons/github.svg" alt="github icon" />
        </a>
        <a href="#" class="footer__icon">
          <img src="assets/images/icons/dribble.svg" alt="dribble icon" />
        </a>
      </div>
    </div>
  </app-card>
</div>
