<div class="stat-card">
  <div class="stat-card__data">
    <span class="stat-card__title">{{ title }}</span>
    <p class="stat-card__stats">{{ isCurrency ? (stat | currency) : stat }}</p>
  </div>
  <div
    class="stat-card__icon"
    [ngClass]="{
      'stat-card__icon--primary': variant === 'primary',
      'stat-card__icon--secondary': variant === 'secondary',
      'stat-card__icon--tertiary': variant === 'tertiary',
      'stat-card__icon--quaternary': variant === 'quaternary',
      'stat-card__icon--quinary': variant === 'quinary',
    }"
  >
    <mat-icon>{{ icon }}</mat-icon>
  </div>
</div>
