@use 'abstract' as *;
@use 'theme/colors' as *;
@use 'base' as *;

.stat-card {
  @include flex(space-between, row);

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: $fs-xs;
    color: $heading-color;
  }

  &__stats {
    font-size: $fs-xl;
    font-weight: $fw-bold;
    margin: 0;
  }

  &__icon {
    padding: px-to-rem(6);
    border-radius: 8px;

    &--total-revenue {
      color: $sea-green-color;
      background-color: $light-sea-green-color;
    }

    &--total-orders {
      color: $lochmara-blue-color;
      background-color: $light-blue-color;
    }

    &--complete-orders {
      color: $clementine-color;
      background-color: $light-clementine-color;
    }

    &--active-restaurant {
      color: $sea-green-color;
      background-color: $light-sea-green-color;
    }

    &--restaurant-owners {
      color: $violet-color;
      background-color: $light-violet;
    }
  }
}
