@use 'abstract' as *;
@use 'base' as *;

.main-header {
  @include flex(space-between, row);

  flex-direction: column;
  text-align: center;
  gap: 26px;

  &__heading {
    font-weight: 700;
    margin: 0 0 8px 0;
    line-height: 1.2;
  }

  &__description {
    color: $paragraph-color;
    font-size: $fs-sm;
  }

  @include respond-up('lg') {
    flex-direction: row;
    text-align: start;
    ng-content {
      width: auto;
    }
  }
}
