// Primary color palette of Gossamer(Green)
$primary-50: #e5f5ee;
$primary-100: #c0e6d5;
$primary-200: #98d6bb;
$primary-300: #6cc6a1;
$primary-400: #48ba8e;
$primary-500: #14ae7a;
$primary-600: #0e9f6f;
$primary-700: #0e9f6e;
$primary-800: #087b55;
$primary-900: #0b5c3e;

// Color contrast on primary color
$primary-contrast: #fff;

// default lighter hue
$primary-lighter-hue: 700;
$secondary-lighter-hue: 700;

// Borders Color
$light-black-color: #0000001f;

//icons
$dark-black: #000000de;
